# === Freelancehunt ===
FREELANCEHUNT_TOKEN=39a0276985f3fd748daa47a40863db3b0e2ea157

# === Telegram ===
TELEGRAM_BOT_TOKEN=8931878681:AAHYQSRoIrJ50zJ5TpPm2d1dFUgXXLVBY90
TELEGRAM_CHAT_ID=8931878681

# Проверка новых проектов каждые 120 секунд
CHECK_INTERVAL_SECONDS=120

# true = сразу отправлять ставку на Freelancehunt
AUTO_BID=true

# Сначала рекомендую true: бот покажет, что сделал бы, но реально ставку не отправит.
# После проверки поменяй на false.
DRY_RUN=true

# Фильтр
KEYWORDS=flutter,dart,мобильное приложение,мобільний застосунок,мобільний додаток,ios android,android ios
STOP_WORDS=react native,kotlin only,swift only,unity,game,игра,гра

# Если у проекта нет нормального бюджета
DEFAULT_BID_AMOUNT=5000
DEFAULT_BID_CURRENCY=UAH
DEFAULT_DAYS=7
SAFE_TYPE=employer

# Можно поменять свой текст отклика.
# Доступная переменная: {title}
BID_TEMPLATE=Здравствуйте! Я Flutter-разработчик и могу выполнить ваш проект «{title}». Сделаю приложение на Flutter под Android/iOS, подключу API/Firebase при необходимости, реализую аккуратный UI и подготовлю рабочую сборку. Готов быстро обсудить детали и начать работу.
